In [5]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

In [6]:
#Load the bank dataset
bank_data = pd.read_csv('Documents/RECOMMENDATION_SYSTEM/01_02/bank.csv')

In [159]:
#Display top dataset
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,0,1,1,0,45,0,0,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,9,1,1,0,1270,1,0,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,7,1,1,0,2476,1,0,unknown,5,may,579,1,-1,0,unknown,yes
4,54,0,1,2,0,184,0,0,unknown,5,may,673,2,-1,0,unknown,yes

In [32]:
bank_data['job'].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [50]:
#Encode numerical columns to become categorical columns
# Import label encoder 
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
bank_data['job']= label_encoder.fit_transform(bank_data['job']) 
bank_data['marital'] = label_encoder.fit_transform(bank_data['marital'])
bank_data['education'] = label_encoder.fit_transform(bank_data['education'])
bank_data['housing'] = label_encoder.fit_transform(bank_data['housing'])
bank_data['loan'] = label_encoder.fit_transform(bank_data['loan'])

In [105]:
#bank_data.drop(bank_data.columns[['housing', 'contact', 'default', 'day', 'month','duration', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit',]], axis = 1, inplace = True) 
# bank_data.drop(bank_data.loc[:, 'contact':'deposit'].columns, axis = 1)  

new_df = bank_data.drop(bank_data.ix[:, 'contact':'deposit'].columns, axis = 1)
new_df.head()

/home/zupana/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

   age  job  marital  education  default  balance  housing  loan
0   59    0        1          1        0     2343        1     0
1   56    0        1          1        0       45        0     0
2   41    9        1          1        0     1270        1     0
3   55    7        1          1        0     2476        1     0
4   54    0        1          2        0      184        0     0

In [80]:
#Select the feature variables
X = bank_data[['age', 'job', 'marital', 'default','education', 'balance', 'housing']]
X.head()

   age  job  marital  default  education  balance  housing
0   59    0        1        0          1     2343        1
1   56    0        1        0          1       45        0
2   41    9        1        0          1     1270        1
3   55    7        1        0          1     2476        1
4   54    0        1        0          2      184        0

In [123]:
#Select the predictor variable
y = new_df.loan

In [124]:
#Instantiate our logistic regression model

my_model = LogisticRegression()

In [125]:
#Split data into training and test sets
from sklearn.model_selection import train_test_split

In [131]:
#Split data into training and test sets
#X_train, Y_train, X_test, Y_test = train_test_split(X, y, test_size = 0.20)

In [135]:
model = my_model.fit(X, y)

/home/zupana/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [156]:
new_customer = [[58, 0, 1, 0, 1, 2474, 1]]

In [157]:
pred_cus = model.predict(new_customer)
pred_cus

array([0])

In [150]:
customer_2 = [[55, 7, 2, 0, 1, 2476, 1]]

In [151]:
model.predict(customer_2)

array([0])

In [158]:
#The model predicted 0 which means loan should not be given to those particular customers